@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 5rem;
  background-color: rgb(212, 209, 209);
}
